.container-section-home{
  height: 75vh;
  background-image: url("../../../images/home_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.home-transbox{
  background-color: rgba(12, 12, 12, 0.055);
  height: 100%;
  width:100%;
  backdrop-filter: blur(10px);
  display:flex;
  justify-content: center;
  align-items: center;
}

.home-content{
  font-family: "Open Sans", sans-serif;
  color:#F5F0E9;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:80%;
}
.home-content>h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 1.5rem;
}

.home-content>p{
  text-align:center;
  font-size:20px;
}