header {
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #08163b;
    color: #F5F0E9;
    padding: 0px 20px;
}

.menu-line{
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.navbar-list{
    flex-basis: 80%;
    height: 40px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar-list>li{
    padding:10px 20px;
    font-weight: 150px;
}

.navbar-list>li:hover{
    cursor: pointer;
    background-color: #d3ba87;
    color:#08163b;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 400px;
}

.container-curriculo{
    flex-basis: 10%;
    height: 40px;
}

@media screen and (max-width: 600px) {
    header{
        display:flex;
        justify-content: space-between;
        padding: 0px 5px;
    }
    .navbar-list{
        display:none;
    }
}